<div class="card text-center border-light col-xs-6 col-sm-4 col-md-2">
  <% if user.avatar? %>
    <%= image_tag user.avatar, alt: user.name,  class: "rounded card-img-top"  %>
  <% else %>
      <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=No%20User%20Image&w=100&h=100" class="card-img-top">
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to user.name, user_path(user, status: true) %></h5>
  <% if Friendship.where(user_id: user.id, friend_id: @user.id, status: false).present? && current_user == @user  %>
    <div class="card-footer bg-transparent border-light text-center">
      <%= link_to 'Accept', friendship_path(user), method: :patch, class: "btn btn-sm btn-outline-info mb-1" %>
      <%= link_to 'Reject', friendship_path(user), method: :delete, data:{ confirm: "Are you sure?" } , class: "btn btn-sm btn-outline-info" %>
    </div>
  <% end %>
  </div>
</div>